@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik_Regular";
  src: url("../../public/assets/Fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik_Italic";
  src: url("../../public/assets/Fonts/Rubik/Rubik-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Syncopate_Regular";
  src: url("../../public/assets/Fonts/Syncopate/Syncopate-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Syncopate_Bold";
  src: url("../../public/assets/Fonts/Syncopate/Syncopate-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: #fff;
  font-family: 'Rubik_Regular', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Syncopate_Bold', sans-serif;
  text-transform: uppercase;
  line-height: 70px;
}


