{
    "extends": [
      "eslint-config-unjs"
    ],
    "rules": {
      "space-before-function-paren": "off",
      "unicorn/filename-case": "off",
      "unicorn/no-array-callback-reference": "off"
  
    }
  }